<app-form-confirmation
  *ngIf="confirmationIndicator | async"
  [planet]="planet"
  [mode]="mode"
></app-form-confirmation>
<div class="modal card">
  <div class="modal__content">
    <label> Create planet </label><br />
    <form [formGroup]="form">
      <div class="form-row">
        <div class="form-col-25">
          <div id="img-preview"></div>
        </div>
        <div class="form-col-75">
          <div *ngIf="filePath && filePath !== ''">
            <img
              [src]="filePath"
              style="height: 100%"
              class="img-radius"
              width="50"
              height="50"
            />
          </div>
          <input type="file" accept="image/*" (change)="imagePreview($event)" />
        </div>
      </div>
      <div class="form-row">
        <div class="form-col-25">
          <label for="title">Name</label>
        </div>
        <div class="form-col-75">
          <input
            placeholder="name..."
            type="text"
            formControlName="planetName"
          />
        </div>
      </div>
      <div class="form-row">
        <span
          class="text"
          *ngIf="
            !form.get('planetName').valid && form.get('planetName').touched
          "
          >Please enter valid planet name</span
        >
      </div>
      <div class="form-row">
        <div class="form-col-25">
          <label> Description </label>
        </div>
        <div class="form-col-75">
          <textarea
            style="height: 80px"
            form="form"
            placeholder="description..."
            formControlName="description"
          ></textarea>
        </div>
      </div>
      <div class="form-row">
        <span
          class="text"
          *ngIf="
            !form.get('description').valid && form.get('description').touched
          "
          >Please enter valid description</span
        >
      </div>
      <div class="form-row">
        <div class="form-col-25">
          <label> Radius in km</label>
        </div>
        <div class="form-col-75">
          <input
            type="text"
            formControlName="planetRadiusKM"
            placeholder="radius..."
          />
        </div>
      </div>
      <div class="form-row">
        <span
          class="text"
          *ngIf="
            !form.get('planetRadiusKM').valid &&
            form.get('planetRadiusKM').touched
          "
          >Please enter valid planet radius</span
        >
      </div>
      <div class="form-row">
        <div class="form-col-25">
          <label>Color</label>
        </div>
        <div class="form-col-75">
          <input
            type="text"
            formControlName="planetColor"
            placeholder="color..."
          />
        </div>
      </div>
      <div class="form-row">
        <span
          class="text"
          *ngIf="
            !form.get('planetColor').valid && form.get('planetColor').touched
          "
          >Please enter valid planet color</span
        >
      </div>
      <div class="form-row">
        <div class="form-col-25">
          <label> Dist.from Sun</label>
        </div>
        <div class="form-col-75">
          <input
            formControlName="distInMillionsKM[fromSun]"
            type="text"
            placeholder="dist. from Sun..."
          />
        </div>
      </div>
      <div class="form-row">
        <span
          class="text"
          *ngIf="
            !form.get('distInMillionsKM[fromSun]').valid &&
            form.get('distInMillionsKM[fromSun]').touched
          "
          >Please enter valid distance from Sun</span
        >
      </div>
      <div class="form-row">
        <div class="form-col-25">
          <label>Dist.from Earth</label>
        </div>
        <div class="form-col-75">
          <input
            formControlName="distInMillionsKM[fromEarth]"
            type="text"
            placeholder="dist. from Earth..."
          />
        </div>
      </div>
      <div class="form-row">
        <span
          class="text"
          *ngIf="
            !form.get('distInMillionsKM[fromEarth]').valid &&
            form.get('distInMillionsKM[fromEarth]').touched
          "
          >Please enter valid distance from Earth</span
        >
      </div>
      <div class="modal__actions">
        <button
          class="btn btn--passive"
          type="button"
          (click)="onCancelFormModal()"
        >
          cancel
        </button>
        <button
          class="btn btn--success"
          type="button"
          (click)="onCreateFormModal()"
          [disabled]="!form.valid"
        >
          {{ mode }}
        </button>
      </div>
    </form>
  </div>
</div>
