.input-search {
  background-image: url("/assets/images/searchicon.jpg");
  background-size: 30px;
  background-position: left;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 13px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
}
