<app-header (onSearch)="searchPlanets($event)"></app-header>
<app-form-modal *ngIf="modalIndicator | async"></app-form-modal>
<table class="table">
  <tr class="header">
    <th style="width: 5%">Image</th>
    <th>
      <label style="text-align: center">Name</label>

      <img
        data-order="desc"
        data-name="planetName"
        width="30"
        height="30"
        src="../../assets/images/sort.png"
        [appSort]="planets | async"
      />
    </th>
    <th style="width: 20%">Description</th>
    <th
      [appSort]="planets | async"
      data-order="desc"
      data-name="planetColor"
      id="sort-color"
      style="width: 15%"
    >
      Color
    </th>
    <th
      [appSort]="planets | async"
      data-order="desc"
      data-name="planetRadiusKM"
      style="width: 15%"
    >
      Radius[km]
    </th>
    <th style="width: 15%">Dist. from Sun</th>
    <th style="width: 15%">Dist. from Earth</th>
  </tr>
  <tbody>
    <tr
      app-planet-table
      *ngFor="let planet of planets | async | searchFilter: searchValue"
      [planet]="planet"
      (click)="onPlanetTable(planet)"
    ></tr>
  </tbody>
</table>
