<!-- Delete following code when you start your project -->

<header id="main-header">
  <h1>Planets</h1>
  <div id="def-header-div" class="def-header-div.visible">
    <img
      id="grid-view"
      width="30"
      height="30"
      src="assets/images/gridIcon.png"
    />
    <img
      id="table-view"
      width="30"
      height="30"
      src="assets/images/tableIcon.png"
    />
  </div>
  <div>
    <input type="text" id="input-search" placeholder="Search for planets.." />
  </div>

  <div id="header-div" class="headerModal">
    <button id="delete-btn">Delete</button>
  </div>
  <button id="create-btn">Create</button>
</header>
<div id="backdrop"></div>
<div class="modal card" id="add-modal">
  <div class="modal__content">
    <label> Create planet </label><br />
    <form id="form">
      <div class="form-row">
        <div class="form-col-25">
          <div id="img-preview"></div>
        </div>
        <div class="form-col-75">
          <label class="btn" style="float: right ;" for="choose-file"
            >Browse</label
          >
          <input
            type="file"
            accept="image/*"
            style="display: none"
            id="choose-file"
          />
        </div>
      </div>
      <div class="form-row">
        <div class="form-col-25">
          <label>Image name</label>
        </div>
        <div class="form-col-75">
          <input id="image-name" name="imageName" placeholder="no image..." />
        </div>
      </div>
      <div class="form-row">
        <div class="form-col-25">
          <label for="title">Name</label>
        </div>
        <div class="form-col-75">
          <input
            placeholder="name..."
            type="text"
            name="planetName"
            id="planetName"
          />
        </div>
      </div>
      <div class="form-row">
        <div class="form-col-25">
          <label> Description </label>
        </div>
        <div class="form-col-75">
          <textarea
            style="height: 80px;" name="description"
            id="description"
            form="form"
            placeholder="description..."></textarea>
        </div>
      </div>
      <div class="form-row">
        <div class="form-col-25">
          <label> Radius in km</label>
        </div>
        <div class="form-col-75">
          <input
            type="text"
            name="planetRadiusKM"
            id="planetRadiusKM"
            placeholder="radius..."
          />
        </div>
      </div>

      <div class="form-row">
        <div class="form-col-25">
          <label>Color</label>
        </div>
        <div class="form-col-75">
          <input
            type="text"
            name="planetColor"
            id="planetColor"
            placeholder="color..."
          />
        </div>
      </div>

      <div class="form-row">
        <div class="form-col-25">
          <label> Dist.from Sun</label>
        </div>
        <div class="form-col-75">
          <input
            name="distInMillionsKM[fromSun]"
            type="text"
            id="fromSun"
            placeholder="dist. from Sun..."
          />
        </div>
      </div>

      <div class="form-row">
        <div class="form-col-25">
          <label>Dist.from Earth</label>
        </div>
        <div class="form-col-75">
          <input
            name="distInMillionsKM[fromEarth]"
            type="text"
            id="fromEarth"
            placeholder="dist. from Earth..."
          />
        </div>
      </div>
    </form>
  </div>
  <div class="modal__actions">
    <button id="cancel-btn" class="btn btn--passive">Cancel</button>
    <button class="btn btn--success">Create</button>
  </div>
</div>

<div class="grid-container" id="main-grid"></div>

<div id="single-grid" style="display: none"></div>

<div id="table-div" style="display: none">
  <table id="table-planets">
    <tr class="header">
      <th style="width: 5%">Image</th>
      <th style="width: 15%">Name</th>
      <th style="width: 20%">Description</th>
      <th id="sort-color" style="width: 15%">Color</th>
      <th style="width: 15%">Radius[km]</th>
      <th style="width: 15%">Dist. from Sun</th>
      <th style="width: 15%">Dist. from Earth</th>
    </tr>
  </table>
</div>

<div id="modal-popup" class="modal-popup card-popup">
  <form>
    <div class="container">
      <h2 id="confirm-text"></h2>
      <br />
      <div class="clearfix">
        <button id="cancel-popup" type="button" class="btn btn--passive">
          Cancel
        </button>
        <button id="confirm-popup" type="button" class="btn btn--success">
          Confirm
        </button>
      </div>
    </div>
  </form>
</div>
