.div-item {
  position: relative;
  height: 100%;
  cursor: pointer;
}

.alignleft {
  float: left;
  bottom: 0px;
}
.alignright {
  float: right;
  bottom: 0px;
}

div {
  background-color: #e97c4a;
  text-align: center;
  padding: 20px 0;
  font-size: 35px;
}

.image {
  width: 3rem;
  height: 3rem;
}

.descr {
  height: 10rem;
}
