<div class="div-item">
  <img class="img-radius" width="50" height="50" src="">
  <h2>{{planet.planetName}}</h2>
  <div class="inline">
    <div class="wrap">
      <p>{{planet.description}}</p>
    </div>
  </div>
  <div id="textbox">
    <span class="alignleft">Color: {{planet.planetColor}}</span>
    <span class="alignright">Dist.from Sun: planet.distFromSun</span>
  </div>
  <div style="clear: both;"></div>
  <div id="textbox">
    <span class="alignleft">Radius[km]: planet.planetRadiusKM</span>
    <span class="alignright">Dist.from Earth: planet.distFromEarth</span>
  </div>
</div>