<div class="div-item" (click)="onPlanetGrid(planet)">
  <img class="img-radius image" src="{{ planet.imageUrl }}" />
  <h2>{{ planet.planetName }}</h2>
  <div class="inline descr">
    <div class="wrap">
      <p>{{ planet.description }}</p>
    </div>
  </div>
  <div>
    <span class="alignleft">Color: {{ planet.planetColor }}</span>
    <span class="alignright"
      >Dist.from Sun: {{ planet.distInMillionsKM.fromSun }}</span
    >
  </div>
  <div>
    <span class="alignleft">Radius[km]: {{ planet.planetRadiusKM }}</span>
    <span class="alignright"
      >Dist.from Earth: {{ planet.distInMillionsKM.fromEarth }}</span
    >
  </div>
</div>
